.page {
  &__header {
    margin-bottom: 44px;
  }
  &__offer {
    margin-bottom: 70px;
  }
  &__about {
    margin-bottom: 200px;
  }
  &__projects {
    margin-bottom: 190px;
  }
  &__who {
    margin-bottom: 200px;
  }
  &__discount {
    margin-bottom: 160px;
  }
  &__bot {
    margin-bottom: 165px;
  }
  &__program {
    margin-bottom: 200px;
  }
  &__guide {
    margin-bottom: 200px;
  }
  &__results {
    margin-bottom: 130px;
  }
  &__meet {
    margin-bottom: 200px;
  }
  &__questions {
    margin-bottom: 100px;
  }
  &__footer {
    margin-bottom: 100px;
  }
}
